header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    width: 85%;
    margin: 2%; 
    margin-left: 7%; 
    margin-right: 5%;
}   

nav ul{
    display: flex;
    gap: 3%;
    list-style: none;
    margin: 0%;
    padding: 0%;

}

.divCards {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    margin: 1%;
    justify-content: center;
}

.card {
    width: 45%;
    padding: 3%;
    margin: 1%;
    box-sizing: border-box;
    border: 2px solid pink;
    border-radius: 50px;
    text-align: center;
}  




 *  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(247, 247, 245);
}

header img {
   width: 25%;
   height: auto;
   margin: 2%;
}

.form-group {
  margin-bottom: 15px;
}

input, textarea {
  width: 100%;
  padding: 1%;
  margin: 1%;
  border: solid pink;
  box-sizing: border-box; 
}   




